# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
requests
pyarrow
python-dotenv
apache-airflow-providers-google
pandas
astronomer-cosmos
dbt-bigquery